<% provide(:title, "Home") %>
<h1>Segmentation</h1>
<p>
  This is the home page for the
  <a href="https://ancient-brushlands-82263.herokuapp.com/">Challenge Dev - </a>
  Segmetation Application.
</p>
