<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to Segmentation</h1>
	
	<h2>
  	This is the home page for the
  	<a href="https://ancient-brushlands-82263.herokuapp.com/">Challenge Dev - </a>
  	Segmetation Application.
	</h2>
	
	<%= link_to "New Contact", '#', class: "btn btn-lg btn-primary" %>
</div>

